.container {
  padding: 100px 150px;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .buttons {
    height: 70%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    span {
      font-size: 1.5em;
      transition: 0.2s all;

      &:hover {
        cursor: pointer;
        color: lighten($color: $primary-color, $amount: 7.5);
      }
    }
  }

  .joinRoom {
    display: flex;
    align-items: stretch; // Makes children match height

    input[type="text"] {
      min-height: 50px;
      max-width: 200px;
      padding: 0 1rem;
      border: 1px solid $primary-color;
      border-radius: 6px 0 0 6px;
      background-color: transparent;

      color: $primary-color;

      letter-spacing: 10px;

      &::placeholder {
        letter-spacing: 0px;
        text-align: right;
        color: $dark-color;
      }

      font-size: 0.7em;
      font-weight: bolder;

      &:focus,
      &:focus-visible {
        border-color: lighten($color: $primary-color, $amount: 15);
        outline: none;
      }
    }

    button {
      min-height: 50px;
      padding: 0.5em 1em;
      border: none;
      border-radius: 0 6px 6px 0;
      background-color: $primary-color;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      font-size: 1em;
      font-weight: bolder;

      color: $light-color;

      &:hover {
        background-color: lighten($color: $primary-color, $amount: 7);
      }
    }

    &.dark {
      input {
        &::placeholder {
          color: $light-color;
        }
      }
      button {
        color: $light-color;
      }
    }
  }

  @media (max-width: 900px) {
    padding: 50px;

    .joinRoom {
      input[type="text"] {
        font-size: 0.5em;
        max-width: 125px;

        letter-spacing: 2px;
      }

      button {
        font-size: 0.7em;
      }
    }
  }

  @media (max-width: 600px) {
    flex-direction: column;
    justify-content: space-evenly;

    padding: 25px;
    .buttons {
      height: fit-content;
      gap: 150px;
      span {
        font-size: 1.5em;
      }
    }

    .joinRoom {
    }
  }
}
