$primary-color: #EF8354;
$secondary-color: #4F5D75;
$dark-color: #2D3142;
$light-color: #FFFFFF;
$grey-color: #BFC0C0;




// https://www.color-hex.com/color-palette/20141
$sucess-color: 	#22bb33;
$danger-color: #bb2124;

