

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background-color: $light-color;
  font-family: 'Rubik', sans-serif;
  color: $dark-color;

  
  
  font-size: 24px;

  &.dark {
    background-color: $dark-color;
    color: $light-color;
  }
  
  
}

body {
  padding: 0 50px;
}

html,
body,
#__next {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

@media (max-width: 900px) {
  body {
    padding: 0 40px;
  }
}

@media (max-width: 600px) {
  body {
    padding: 0 25px;
  }
}