$primary-color: #EF8354;
$secondary-color: #4F5D75;
$dark-color: #2D3142;
$light-color: #FFFFFF;
$grey-color: #BFC0C0;

body {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
