@use "sass:color";

.gamePage {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  background-color: var(--background-color);
  color: var(--text-color);

  padding: 0 150px;
  
  @media screen and (max-width: 900px) {
    padding: 0 50px;
  }

  @media screen and (max-width: 600px) {
    padding: 0 25px;
  }
}

.logoHolder {
  position: relative;
  aspect-ratio: 2/1;
  width: 100%;
  max-width: 20vw;
  min-width: 250px;
  img {
    width: 100%;
    object-fit: contain;
  }
}

.gameContainer {

  width: 100%;
  height: 100%;

  border-radius: 75px 25px 75px 25px;
  border: 10px solid var(--reverse-theme-color);
  border-width: 40px 25px 40px 25px;
  padding: 20px 20px;

  box-shadow: 0 0 30px color.adjust($primary-color, $alpha: 0.6);

  display: flex;
  align-items: center;
  justify-content: center;


  margin: 75px 0;

  text-align: center;

  @media screen and (max-width: 600px) {
    border-width: 25px 15px 25px 15px;
    margin: 50px 0;
  }

  @media screen and (max-width: 300px) {
    border-width: 15px 5px 15px 5px;
    margin: 50px 0;
  }
}
