.modal {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  direction: rtl;
  overflow-y: auto;
  max-height: 700px;

  &.light {
    background-color: $light-color;
    color: $dark-color;
    border: 1px solid $grey-color;
  }

  &.dark {
    background-color: $dark-color;
    color: $light-color;
    border: 1px solid $secondary-color;
  }
}

.modalOverlay {
  &.light {
    background-color: rgba(45, 49, 66, 0.5);
  }

  &.dark {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.closeButton {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

// Body Styles for Category Boxes
.body {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.category {
  position: relative;
  aspect-ratio: 1/1;
  height: 250px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;

  img {
    filter: blur(4px);
  }
  

  .title {
    position: relative;
    z-index: 1;
    color: $primary-color;
    font-size: 1.3em;
    transition: 0.3s ease;
  }

  &:hover {
    transform: scale(1.05);
    filter: blur(0);

    .edit,.choose {
      opacity: 1;

    }

    .title {
      transform:  scale(1.2);
    }
  }
  .edit,
  .choose {
    position: absolute;
    width: 100%;
    height: 50%;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    color: white;
    opacity: 0;
    transition: opacity 0.4s ease;
    font-weight: 500;
    cursor: pointer;
    transition: color 3s ease;





  }

  .edit {
    top: 0;
    background: rgba(255, 165, 0, 0.7); 
    backdrop-filter: blur(4px);


  }

  .choose {
    bottom: 0;
    background: rgba(0, 255, 0, 0.7); 
    backdrop-filter: blur(4px);

    
  }
}


.editMode {
  width: 100%;


  .header {
    display: flex;
    justify-content: space-between;
    color: $primary-color;
  }

  .topicInput {
    font-size: 1rem;
    border: none;
    padding: 6px 8px;
    border-radius: 6px;
    width: 100%;
    background: transparent;
    color: #333;
    transition: all 0.3s ease;
  
    &:focus {
      outline: none;
    }
  }
  
  .topicItem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    
    &.dark {
      .topicInput {
        color: $light-color;
      }
    }
  }

  .viewMode {
    cursor: pointer;
    background-color: transparent;
    color: #444;
    pointer-events: none;
  }
  
  .editMode {
    border: 1px solid $primary-color;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    pointer-events: auto;

  
    &:focus {
      box-shadow: 0 0 4px darken($color: $primary-color, $amount: 15);
    }
  }

  
  .topicActions button {
    margin-left: 8px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 0.7em;

    transition: .3s ease;

    &:hover {
      transform: scale(1.1);
      animation: rotateOnce 0.5s ease-in-out;

    }


    @keyframes rotateOnce {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
  
  .addTopic {
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    background: $primary-color;

    
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s ease;

    &:hover {
      background-color: lighten($color: $primary-color, $amount: 10);
    }
  }

}
@media screen and (max-width: 600px) {
  .category {
    height: 200px;

    font-size: 1.3rem;
  }
}

@media screen and (max-width: 490px) {
  .category {
    height: 175px;
  }
}
